@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --black: #161616;
    --white: #ffffff;
    --gray: #f1f1f1;
    --dark-gray: #666666;
    --light-gray: #cccccc;
    --blackRgba7: rgba(22, 22, 22, 0.07);
    --blackRgba10: rgba(22, 22, 22, 0.1);
    --blackRgba20: rgba(22, 22, 22, 0.2);
    --blackRgba50: rgba(22, 22, 22, 0.5);
  }

  * {
    box-sizing: border-box;
  }

  html,
  body {
    font-size: 18px;
  }

  .dark {
    background: var(--black);
  }

  .light {
    background: var(--gray);
  }

  .root {
    width: 100%;
    min-height: 100vh;
  }

  .fill__gray {
    @apply fill-[var(--gray)];
  }

  .transition__effect {
    @apply transition-all duration-300 ease-linear;
  }
  .hover__effect {
    @apply hover:shadow-[0px_0px_0px_4px_rgba(22,22,22,0.1)];
  }
  .active__effect {
    @apply active:opacity-75 active:shadow-none;
  }
  .fill__icon__effect {
    @apply transition__effect fill-darkGray;
  }
  .stroke__icon__effect {
    @apply transition__effect stroke-darkGray;
  }

  .default__navlink {
    @apply p-[5px] flex items-center gap-1 relative;
  }

  .active__navlink .fill__icon__effect {
    @apply fill-black;
  }
  .active__navlink .stroke__icon__effect {
    @apply stroke-black;
  }
  .default__navlink:hover .fill__icon__effect,
  .theme__switcher:hover .fill__icon__effect {
    @apply fill-black;
  }
  .default__navlink:hover .stroke__icon__effect,
  .theme__switcher:hover .stroke__icon__effect {
    @apply stroke-black;
  }

  @keyframes shine {
    0%,
    100% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 0.6;
      transform: scale(1.2);
    }
  }

  .shine__animation {
    @apply animate-[shine_1.2s_infinite_ease-in-out];
  }

  .fade-up {
    opacity: 0.9;
    transform: perspective(1000px) translateY(10px);
    transition:
      opacity 0.1s ease-out,
      transform 0.1s ease-out;
    will-change: opacity, transform;
  }

  .fade-up.show {
    opacity: 1;
    transform: perspective(1000px) translateY(0);
  }
}
